---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [101]:
import pandas as pd
import numpy as np
doc = []
with open('dates.txt') as file:
    for line in file: 
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [190]:
pd.set_option('max_rows',None)

def date_sorter():
    sf = pd.DataFrame(df)
   
    # Get the dates in the form of words
    sf['one'] = df.str.extract(r'(?P<one>(?:\d{,2}\s)?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*(?:-|\.|\s|,)\s?\d{,2}[a-z]*(?:-|,|\s)?\s?\d{2,4})')
    # Get the dates in the form of numbers
    sf['two'] = df.str.extract(r'(?P<two>(?:\d{1,2})(?:(?:\/|-)\d{1,2})(?:(?:\/|-)\d{2,4}))')
    # Get the dates where there is no days i.e only month and year  
    sf['three'] = df.str.extract(r'(?P<three>(?:\d{1,2}(?:-|\/))?\d{4})')
    
    #  one    two          three
    #  NaN   Date        val/NaN
    # Date    NaN           Year
    #  NaN    NaN  mon-Year/Year
    sf['Date'] = sf.apply(lambda x: x['three'] if pd.isnull(x['one']) & pd.isnull(x['two']) else x['one'] if pd.isnull(x['two']) else x['two'] if pd.isnull(x['one']) else x['three'] ,axis=1)

    sf['Date'] = pd.to_datetime(sf['Date'],errors='coerce')
    return pd.Series(sf['Date'].sort_values().index)

date_sorter()

0        9
1       84
2        2
3       53
4       28
5      474
6      153
7       13
8      129
9       98
10     111
11     225
12      31
13     171
14     191
15     486
16     335
17     415
18      36
19     405
20     323
21     422
22     375
23     380
24     345
25      57
26     481
27     436
28     104
29     299
30     162
31     154
32     402
33      95
34      73
35     108
36     156
37     332
38     182
39      82
40     351
41     278
42     214
43     155
44     223
45     473
46      49
47     317
48      11
49     319
50      40
51     418
52     165
53     382
54     370
55       3
56      50
57     363
58     219
59     465
60     237
61      23
62     342
63     204
64     258
65     315
66      27
67      93
68      17
69     303
70     488
71     283
72     395
73     309
74     419
75     123
76      19
77     117
78     232
79      72
80     189
81     318
82     369
83     493
84     239
85     148
86     105
87     336
88       6
89     200
90      81
91      65
92     434
93     164
94     378
95     495
96     424
97     398
98       5
99     254
100    296
101     75
102    167
103     21
104    259
105    499
106    347
107    150
108     78
109    340
110    441
111    361
112    267
113    221
114    466
115    134
116     39
117    197
118    355
119    430
120     80
121    246
122    444
123     85
124    215
125    263
126     74
127    403
128    458
129     16
130     25
131    127
132    454
133     70
134     44
135     59
136    103
137    112
138    429
139     88
140    179
141    470
142    358
143    205
144    397
145    294
146    137
147    295
148     35
149    438
150    247
151    209
152     61
153    107
154    285
155    175
156     99
157    455
158     24
159    275
160    421
161     48
162    426
163    489
164    136
165     30
166    274
167     10
168    178
169      1
170    280
171    447
172    185
173    228
174    135
175     69
176    492
177    199
178    352
179      8
180    276
181    230
182    334
183     96
184     38
185    368
186    261
187    404
188    168
189     29
190    437
191    423
192     54
193    284
194    485
195     68
196     32
197    349
198     41
199     63
200    416
201     55
202    130
203    116
204     76
205    462
206    330
207     37
208    256
209    390
210    216
211    174
212    180
213    476
214    312
215    265
216    115
217     71
218    218
219    202
220    440
221    385
222    373
223    210
224     89
225    149
226     26
227      7
228    435
229    482
230    177
231    157
232    412
233     22
234    194
235     14
236    151
237    233
238    206
239    245
240    122
241     94
242    461
243    226
244     97
245     91
246     51
247     33
248    453
249     67
250     46
251    322
252     66
253    487
254    399
255    138
256     62
257    211
258     52
259    269
260    119
261    100
262    442
263    310
264    143
265    301
266    113
267    478
268    272
269    354
270      0
271    249
272    192
273     86
274    172
275    357
276    331
277    450
278    477
279    300
280    163
281    308
282    196
283     47
284    133
285    359
286     64
287     42
288    409
289    406
290    483
291    238
292    193
293    311
294    140
295    388
296     56
297    372
298    236
299    110
300    248
301     60
302    181
303    203
304    326
305     90
306    169
307    292
308    479
309    142
310      4
311    124
312    324
313    121
314    131
315    166
316    468
317    365
318    213
319     87
320    353
321    101
322    333
323    114
324    459
325     45
326    338
327     18
328    222
329    343
330     20
331    224
332     12
333     79
334    387
335    251
336    120
337    471
338     77
339    376
340    432
341    327
342    384
343    321
344    212
345    407
346    266
347    145
348    201
349    456
350    305
351    260
352    329
353    420
354    392
355    417
356    190
357    158
358    443
359     83
360    374
361    457
362    125
363    328
364    159
365    147
366    195
367    377
368    367
369    394
370    494
371    304
372    446
373     43
374    262
375    128
376    102
377    449
378    184
379    469
380    452
381    234
382    362
383    356
384    144
385    291
386    484
387    188
388    414
389     92
390    241
391    306
392    350
393    425
394    281
395    207
396    126
397    302
398    146
399    451
400    498
401    339
402    250
403    344
404    346
405    348
406    496
407    106
408    118
409    270
410    433
411    307
412    173
413    314
414    490
415    410
416    252
417    391
418    277
419    325
420    264
421    289
422    160
423    341
424    132
425    337
426    428
427    445
428    497
429    187
430    183
431    271
432    396
433    293
434    400
435    360
436    297
437    371
438    491
439    389
440    386
441    379
442    288
443    268
444    472
445    273
446    287
447    448
448    176
449    411
450    408
451    364
452    242
453     58
454    467
455    170
456     15
457    316
458    240
459    229
460    217
461    109
462    227
463    290
464    460
465    393
466    282
467     34
468    220
469    243
470    208
471    139
472    320
473    383
474    480
475    244
476    286
477    431
478    279
479    198
480    463
481    381
482    366
483    439
484    255
485    401
486    475
487    257
488    152
489    235
490    464
491    253
492    231
493    427
494    141
495    186
496    161
497    413
498    298
499    313
dtype: int64