# Tutorial 3- Basic Operations in Julia

## Arithmetic Operations

In [5]:
1+2

3

In [8]:
2*3

6

In [6]:
2/3

0.6666666666666666

In [7]:
2//3

2//3

In [9]:
2*3/2

3.0

In [10]:
typeof(2.0)

Float64

In [11]:
typeof(1)

Int64

In [12]:
10%3

1

In [13]:
(3*5)+(6*4)

39

In [14]:
true

true

In [15]:
2==2

true

In [16]:
2==3

false

In [23]:
10^2

100

## Strings

In [17]:
"Hello, My name is Anurag"

"Hello, My name is Anurag"

In [18]:
typeof("Hello")

String

In [19]:
typeof('a')

Char

### String Formating

In [25]:
str1 = "Anurag"
str2 = "Dhadse"
print(str1, str2)

AnuragDhadse

In [26]:
typeof(str1)

String

In [27]:
string(str1)

"Anurag"

In [ ]:
string(str1, str2)

In [30]:
string(str1, " ", str2, " Good")

"Anurag Dhadse Good"

In [32]:
first_name = "Anurag"
last_name = "Dhadse"

# Same as Kotlin
print("My first name is $first_name $last_name ")

My first name is Anurag Dhadse

## Variables

In [20]:
a=110
typeof(a)

Int64

In [22]:
a=120
b=360

360

In [ ]:
print()
println()

In [4]:
print("Hello Julia")

Hello Julia

## Commenting

In [33]:
# This is Julia

In [34]:
#= This is multiline comment
and keep on following 
up next line till here =#
print("End here")

End here

In [36]:
# Multi line strings
str1 = """"
Communication Array damaged.
What's NOT damaged?
Air condition is Fully Operational.
"""
"""Double "quote" in string with triple quote automatically converted"""

"Double \"quote\" in string with triple quote automatically converted"